@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020925;
  background: linear-gradient(90deg, #020925 30%, #0c1942 70%);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.calculator__cell--AC, .calculator__cell--zero {
  grid-column: 1/3;
}
.calculator__cell--equals {
  grid-row: 5/7;
  grid-column: 4/5;
}