

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,9,37);
  background: linear-gradient(90deg, rgba(2,9,37,1) 30%, rgba(12,25,66,1) 70%);
  height: 100vh;
}