@use "../Base/abstracts" as *;

.calculator {


  &__buttons button {
    font-size: 2rem;
    // color: $color-white;
    border: none;
    // border: 1px solid $color-white;
    // border-radius: 50%;
    outline: none;
    min-height: 100%;
    min-width: 100%;
  }

  &__buttons {

    &--number, &--operator, &--zero {
      color: $color-white;
      background-color: rgba(75,207,238, 0.1);
    }

    

    &--AC {
      background-color: $color-delete;
      color: $color-white;
    }

    &--equals {
      background-color: $color-blue-light;
      color: $color-blue-dark;
    } 
    
  }
  
  &__buttons--number:hover {
    background-color: $color-dark;
    color: $color-blue-light;
  }

  &__buttons--operator:hover {
    background-color: $color-dark;
    color: $color-blue-light;
  }

  &__buttons--zero:hover{
    background-color: $color-dark;
    color: $color-blue-light;

  }

  &__buttons--equals:hover {
    background-color: $color-dark;
    color: $color-blue-light;
  }

  &__buttons--AC:hover {
    background-color: $color-dark;
    color: $color-delete;
  }
}