@use "../Base/abstracts" as *;
@use "../Base/mixins" as *;


.calculator {

  &__screen {
    background-color: rgba(0, 0, 0, 0.75);
    color: $color-blue-light;
    grid-column: 1 / 5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 100%;
    min-width: 100%;
    padding: 10px 10px;
    font-size: 3rem;
    position: relative;
    line-height: 1;
    
    @include tablet {
      font-size: 4rem;
    }

    &--previous-number {
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0.75;
    }


  }

  .large-number {
    font-size: 2rem;

    @include tablet {
      font-size: 3rem;
    }

  }

}