@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, sans-serif;

}

$color-dark: #020925;
$color-blue-dark: #0c1942;
$color-blue-light: #4bcfee;
$color-delete: #fb6b2e;

